@model Aurelia.App.Models.Product
@{
    ViewData["Title"] = "buyProduct Page";
}
<img src="~/images/@Model.Image" style="max-width:40%; width:auto;height: 40%; object-fit: contain"/>
<div class="col-xs-5 flex">
    <h1 class="customH1" style="font-family:'Raleway'; font-size: 2em; font-weight: bold">@Model.ProductName</h1>
    <div class="content">
        <h5  style="font-size:1.1em">Brand: @Model.Brand</h5>
        <h5  style="font-size:1.1em">Category: @Model.ProductCategory.Name</h5>
        @if (@Model.Quantity > 0)
        {
            <h5  style="font-size:1.1em; color:#6fa638"><i class="fas fa-check"></i> Available: @Model.Quantity</h5>
        }
        else
        {
            <h5  style="font-size:1.1em; color:red"><i class="fas fa-times"></i> Not available</h5>
        }
        <h5  style="font-size:1.1em">Catalog Number: @Model.Id</h5>
        <h5  style="font-size:1.1em">Express Delivery: <div id="current_date"></p></h5>
        <h5  style="font-size:1.1em">Standard Delivery: <div id="current_date_notExpress"></p></h5>
        <h5  style="font-size:1.0em; width: 400px; padding:0; margin-right:0 !important;">@Model.Description</h5>
    </div>
</div>
<div class = "col-xs-6">
    <div class ="card mb-4 border-0" style=" height:150px; width: 190px; justify-content: center; text-align:center; background-color:#f5f5f5">
        <h5 class="my-0 font-weight-normal">
             <label style="font-size: 30px; color:black">$@Model.Price.ToString("0.00")</label>
        </h5>
         <div>
            <a style="margin-top: 1vw;  font-size:14px; background-color:#1f2833; color:#66fcf1" class=" w-100 btn btn-lg btn-primary" asp-controller="Client" asp-action="BuyProduct" asp-route-id="@Model.Id">Buy</a>
            <a style="margin-top: 1vw;  font-size:14px; background-color:#1f2833; color:#66fcf1" class=" w-100 btn btn-lg btn-primary" asp-controller="Cart" asp-action="addCart" asp-route-id="@Model.Id">Add to Cart </a>
         </div>
    </div>

<script>
date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
if(day == 30 && month % 2 == 1 )
{
    month++;
    day = 2;
}
if(day == 30 && month % 2 == 0 )
{
    month++;
    day = 1;
}
if(day == 31 && month % 2 == 0 )
{
    month++;
    day = 2;
}
if(day == 28 && month == 2 )
{
    month++;
    day = 2;
}
else {
    month = month;
    year = year;
    day = day + 2;
}
document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
</script>
<script>
date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
if(day == 30 && month % 2 == 1 )
{
    month++;
    day = 5;
}
if(day == 30 && month % 2 == 0 )
{
    month++;
    day = 4;
}
if(day == 31 && month % 2 == 0 )
{
    month++;
    day = 5;
}
if(day + 5 > 28 && month == 2 )
{
    month++;
    day = (28 - day) + 1 ;
}
//TODO:month 12 and year next
else {
    month = month;
    year = year;
    day = day + 5;
}
document.getElementById("current_date_notExpress").innerHTML = "due " + month + "/" + day + "/" + year;
</script>
