@using Aurelia.App.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Admin | Product Manager";
}

<br /> <br />

<div class="row">
    <div class="col-8">
        <h1 style="color:#094b65">Product Manager</h1>
    </div>
     <div class="col-7 text-right  d-sm-inline-flex justify-content-between " style="color:black">
         <a asp-action="CreateProduct" class="btn " style="background-color:#1f2833;color: #66fcf1; height:39px"> <i class="fas fa-plus"></i>Create Product</a>
        <form asp-controller="Product" asp-action="Index">
            <p>
                <input class="btn btn-secondary" type="text" name="searchString" style="background-color:white; margin-left:5px; color:black; border-radius:20px" placeholder="Search..."/>
                <button type="submit" class="btn" style="background-color:#1f2833;border-radius:20px ">
                    <i class="fas fa-search" style="color: #66fcf1;"></i>
                </button>
            </p>
        </form>
     </div>
</div>
<br />

<div>
    <table class="table table-stripped-border" style="color:black">
        <tr  style="color:black">
            <th>
                @Html.DisplayNameFor(x => x.Image)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Price)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Quantity)
            </th>
            <th> </th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>  
                    <img src="~/images/@p.Image"   
                         height="80" width="95"   
                         class="rounded"
                         asp-append-version="true" />  
                </td>  
                <td style="color:black">@p.ProductCategory.Name</td>
                <td style="color:black">@p.ProductName</td>
                <td style="color:black">@p.Brand</td>
                <td style="color:black">@p.Price.ToString("0.00")</td>
                <td style="color:black">@p.Quantity</td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@p.Id" class="btn " style="background-color:#1f2833;color: #66fcf1;">Edit</a> 
                    <a asp-action="Details" asp-route-id="@p.Id" class="btn " style="background-color:#1f2833;color: #66fcf1;">Details</a> 
                    <a asp-action="Delete" asp-route-id="@p.Id" class="btn " style="background-color:#1f2833;color: #66fcf1;">Delete</a> 
                </td>
            </tr>
        }
    </table>
</div>