@using Microsoft.AspNetCore.Identity
@if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
{
    <div class="row">
        <div class="col-8">
            <h1 style="color:black">Order Manager</h1>
        </div>
    </div>
    <br />
    <div>
        <table class="table table-stripped-border" style="color:black">
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>date_placed</th>
                <th>Email</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>PaymentMethod</th>
                <th>DeliveryMethod</th>
            </tr>
            @foreach (var item in (List<Order>)(@ViewData["orders"]))
            {
                <tr>
                    <td style="color:black">@item.Id</td>
                    <td style="color:black">@item.UserId</td>
                    <td style="color:black">@item.date_placed</td>
                    <td style="color:black">@item.Email</td>
                    <td style="color:black">@item.Address</td>
                    <td style="color:black">@item.PhoneNumber</td>
                    <td style="color:black">@item.PaymentMethod</td>
                    <td style="color:black">@item.DeliveryMethod</td>
                </tr>
            }
        </table>
        </div>
}
else
{
    <h1>Thank you for your order!</h1>
    <button id="btnPdf" style="background-color:#1f2833; color:#66fcf1; border-radius:10px">Generate receipt</button>
              
}

<script type="text/javascript">
    $('#btnPdf').click(function(){
        window.open('../../Receipt/PrintOrder?param=1','_blank');
    });
</script>