@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@inject SignInManager<AureliaUser> SignInManager
@{
    var data = Context.Session.GetString("cart");

    decimal sumCart = .00m;
    if (data == null)
    {
        sumCart = .00m;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<ShoppingCartItem> dataCart = JsonConvert.DeserializeObject<List<ShoppingCartItem>>(data2);
        foreach (var item in dataCart)
        {
            decimal value = decimal.Add(sumCart, (item.Product.Price*item.quantity));
            sumCart = value;
        }
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Aurelia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aurelia.App.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="~/logo.ico">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color:#c5c6c7">
            <div class="container-fluid ">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:#094b65; font-weight:700; font-size:2em; text-decoration:none">Aurelia</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between justify-content-center">
                    <ul class="navbar-nav" style="margin-bottom:0px; margin-top:20px">
                        <li class="nav-item dropdown" style="display:inline-block;vertical-align: middle" >
                                <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" style="background-color:#1f2833; border-radius:20px">
		                            <i class="fas fa-bars" style="color:#66fcf1"></i>
	                             </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">
                                       Home
                                    </a></li>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                    {
                                        <li><a class="dropdown-item"  asp-controller="ProductCategory" asp-action="Index">
                                            Product Category
                                        </a>
                                        </li>
                                        <li><a class="dropdown-item" asp-controller="Product" asp-action="Index">
                                            Product Manager
                                        </a>
                                        </li>
                                        <li><a class="dropdown-item" asp-controller="Order" asp-action="Index">
                                            Order Manager
                                        </a>
                                        </li>
                                    }
	                            </ul>
                                @foreach (var item in (List<ProductCategory>)(@ViewData["productCategory"]))
                                {
                                    <li class="nav-item" >
                                        <a class="btn btn-secondary" type="button" style="background-color:#1f2833; color:#66fcf1; border-radius:20px" asp-controller="Client" asp-action="Index" asp-route-id="@item.Id">@item.Name
                                        </a>    
                                    </li>
                                }
                                <form asp-controller="Client" asp-action="Index">
                                    <p>
                                        <input class="btn btn-secondary" type="text" name="searchString" style="background-color:white; margin-left:5px; margin-top:1px;color:black; border-radius:20px" placeholder="Search..."/>
                                        <button type="submit" class="btn btn-secondary" style="background-color:#1f2833; border-radius:20px; margin-top:1px;">
                                            <i class="fas fa-search" style="color:#66fcf1"></i>
                                        </button>
                                    </p>
                                </form>
                         </li>
                    </ul>
                    @if (SignInManager.IsSignedIn(User)){
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item" >
                                <a class="nav-link text-dark" style="font-size:20px" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart"> | $@sumCart.ToString("0.00")</i></a>    
                            </li>
                        </ul>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer>
        <div class="container">&copy; 2022 - Aurelia.App
        </div>
    </footer>*@
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
