@{
    ViewData["Title"] = "My Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        padding: 10px;
    }
</style>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".Update").click(function (event) {
            event.preventDefault();
            var quantity = $("._quantity" + $(this).attr("data-id")).val();
            console.log(quantity);
            $.ajax({
                type: "POST",
                url:"@Url.Action("Update","Cart")",
                data: {
                    id: $(this).attr("data-id"),
                    quantity:quantity
                },
                success: function (result) {
                    window.location.href = '@Url.Action("Index")';
                }
            });
        });
    });
</script>
@{
    ViewData["Title"] = "My Cart";
}
<div class="row">
    <div class="col-8">
        <h1 style="color:#1f2833">My Cart</h1>
    </div>
</div>
<br />
<div>
@try
{
    <table class="table table-stripped-border" style="color:black; width:100%; padding:0;">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
            <th>Option</th>
        </tr>
        @{
        int cId = 0;
        foreach (var item in ViewBag.carts)
        {
            string _quantity = "_quantity" + item.Product.Id;
            cId++;
            decimal subTotal = item.Product.Price * item.quantity;
            <tr>
                <td style="color:black">@item.Product.ProductName</td>
                <td style="color:black"><img src="~/images/@item.Product.Image" width="80" /> </td>
                <td style="color:black">@item.Product.Price.ToString("$0.00")</td> 
                <td style="color:black"><input type="number" style="border-radius: 10px;"class="@_quantity" value="@item.quantity"/></td>         
                <td style="color:black">@subTotal.ToString("$0.00")</td>
                <td><a class="btn btn-info, Update" style="background-color:black;color: white" data-id="@item.Product.Id">Update</a></td>
                <td><a class="btn" style="background-color:black ;color: white" asp-controller="cart" asp-action="Delete" asp-route-id="@item.Product.Id">Delete</a></td>
            </tr>
        }
        
        }
    </table>
    <a class="btn " style="background-color:black;color: white" asp-controller="home" asp-action="index">Continue Shopping</a>
        <a class="btn " style="background-color:black;color: white" asp-controller="order" asp-action="Checkout">Checkout</a>

    }catch
    {
        <div style="text-align: center; margin-top:100px">
            <h1>Empty shopping cart</h1>
            <h5>Add a product before you continue</h5>
            <a class="btn" style="background-color:black;color: white" asp-controller="Home" asp-action="Index"> Back to home page</a>
        </div>
    }


