@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<head>
<h1 style="text-align: center">@ViewData["Title"]</h1>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<div class="row" style="justify-content:center">
    <div class="col-md-4" >
        <section>
            <form id="account" method="post">
                <h2 style="text-align: center">Use an account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form">
                    <label asp-for="Input.UserName" class="form-label"></label>
                    <input asp-for="Input.UserName" class="form-control" placeholder="Enter username"autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Enter password" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" style="background-color:#1f2833;color: #66fcf1" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>

        <setcion>
            <hr />
            @{
                if (Model.ExternalLogins.Count == 0)
                {
                    <div>
                    <p>
                    There are no external authentication services configured.
                    </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                    <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                    if (@provider.DisplayName == "Google")
                                    {
                                        <button type="submit" class="btn btn-secondary" style="background-color:transparent; border-color:transparent; color:white; margin-top:1px" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName account.">
                                            <i class="fab fa-google fa-2x" style="color:white"></i>
                                        </button>
                                    }
                                    else {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName account.">@provider.DisplayName
                                    <i class="fab fa-google"></i>
                                </button>
                                    }
                                }
                        </p>
                    </div>
                    </form>
                }

                }
        </setcion>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
